<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="Layout.css">
</head>
<body>
    <div id="container">
        <div id="Marca"><h1>WebCrafters</h1></div>
        <div id="navegacao">
            <Ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Notícias</a></li>
                <li><a href="#">Produtos</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Contato</a></li>
            </Ul>
        </div>
    
        <div id="conteudo">
        <div id="conteudo_principal">
            <h3>Transformando Ideias em Realidade Online</h3>
            <P>WebCrafters é mais do que uma marca de desenvolvimento web; é uma equipe apaixonada de criadores digitais que transformam conceitos em experiências online impressionantes. Combinando habilidades técnicas excepcionais com uma abordagem centrada no cliente, WebCrafters é dedicada a entregar soluções web personalizadas que cativam, engajam e inspiram.</P>
            <h3>Serviços Abrangentes para Impulsionar sua Presença Online</h3>
            <img src="Mundo.png" alt="Mundo">
            <P>Além do desenvolvimento web, oferecemos uma gama completa de serviços, incluindo design gráfico, otimização de mecanismos de busca (SEO), integração de mídias sociais e muito mais. Nosso compromisso não termina com a entrega do projeto; estamos sempre disponíveis para oferecer suporte contínuo e ajustes conforme necessário.</P>
        
        </div>
        <div id="conteudo_segundario"> 
            <h3>Conheça a WebCrafters</h3>           
            <p>Desde sites corporativos elegantes até plataformas de comércio eletrônico intuitivas e aplicativos web inovadores, cada projeto é tratado com cuidado artesanal para garantir que a visão do cliente se torne uma realidade digital de sucesso. Com a WebCrafters, sua presença online está em boas mãos.            </p>
        </div></div>
        <div id="rodape">RODAPE</div>
    </div>
</body>
</html>