*{
    margin: 0;
    padding: 0;
}

body{
 font-size: 1em;
 font-family: "Trebuchet MS", Helvetica,sans-serif;
 background: #e6e6e6;
}

#Barra{
 background: #ffc400;
 width: 100%;
 text-align: center;
 padding: 20px 0px 10px 0;
 height: 120px;

}
 
#TecBlog{
font-size: 50px;
}

#span1{
 color: #494a38;
}

#span2{
    color: white;
    
}   

.Páginas{
text-decoration: none;
color: white;
font-size: 17px;
font-weight: bold;
padding: 10px;;
}

a:hover{
background: white;
color: #ffc400;
border-radius: 12px;
}

#Menu{

margin-top: 25px;

}    

#home{
margin: 20px auto;
width: 920px;

}

#postagem{
float: left;
    width: 650px;
    padding: 20px 10px;
    background-color: white;}

h2{
color: #ffc400;
font-size: 23px;
}

h3{
font-size: 15px;
}

a{
text-decoration: none;
color: #ffc400;
}
 img{
width: 100%;
margin: 5px 0 10px 0;
}


 #Postrec{
float: right;
 width: 240px;
background: white
}
#Postrec hr{

margin: 5px 0 10px 0;

}
#Tbox1{
 background: #dddadd;
 color: rgb(85, 81, 81);
 width: 230px;
 margin-bottom: 10px;
 padding: 5px;
 font-size: 25px;
}
 #textbox1{

margin: 5px;
}

#Categorias{
margin-top: 20px;
float: right;
width: 240px;
background: white;


}
 ul{
font-size: 20px;
margin-left: 5px;
margin-bottom: 5px;

 }

 #postagem2{
    margin-top: 20px;
    float: left;
        width: 650px;
        padding: 20px 10px;
        background-color: white;}

    #clear{
clear: both;

    }       

#rodape{
margin-top: 20px;
text-align: center;
width: 890px;
background-color: #dddadd;
padding: 15px;
font-size: 16px;
    }